# Created by http://www.gitignore.io

### Linux ###
*~

# KDE directory preferences
.directory


### Perl ###
/blib/
/.build/
_build/
cover_db/
inc/
Build
!Build/
Build.bat
.last_cover_stats
/Makefile
/Makefile.old
/MANIFEST.bak
/META.yml
/META.json
/MYMETA.*
nytprof.out
/pm_to_blib
*.o
*.bs

admins.txt
whitelist.txt
blacklist.txt
quotes.txt
hadouken.conf
hadouken.out
hadouken.pid
hadoukeninit
testdaemon.pl

geoip/GeoIP.dat
geoip/GeoIPCity.dat
geoip/GeoIPOrg.dat
geoip/GeoLiteCity.dat
