# explore the config here: https://config.travis-ci.com/explore

os: linux
language: perl

perl:
  - 'blead'
  - 'blead-thr'
  - 'dev'
  - 'dev-thr'
  - '5.30'
  - '5.28'
  - '5.26'
  - '5.24'
  - '5.22'
  - '5.20'
  - '5.18'
  - '5.16'
  - '5.14'
env:
  global:
    - TEST_PARTITIONS=4
    - RELEASE_TESTING=1
    - LAZY_DH1080=1
    - secure: jTmfy4vAQ3e/hP8aEauDsPyARBqgd7hP3EfvWAWtFJhMukc4ImEFSYe5WNvVs8oQypJCq0uzP6o8ZeVLwGwPQEd29C2YJZH2Dyjky7Jxwc+V2hMv8ILK4R9ADyg3FNOOA+NSRNn5kXzb2vQEviHdB5Xugj+JjQt5pXxu2nw6HyM=
jobs:
  allow_failures:
    - perl: blead
    - perl: blead-thr
    - perl: dev
    - perl: dev-thr
  fast_finish: true
  include:
    - perl: "5.20"
      env: COVERAGE=1 TEST_PARTITION=1
    - perl: "5.20"
      env: COVERAGE=1 TEST_PARTITION=2
    - perl: "5.20"
      env: COVERAGE=1 TEST_PARTITION=3
    - perl: "5.20"
      env: COVERAGE=1 TEST_PARTITION=4
cache:
  directories:
    - $HOME/perl5
before_install:
  - sudo apt-get -y install libssl-dev libzookeeper-mt-dev
  - git clone git://github.com/travis-perl/helpers ~/travis-perl-helpers
  - source ~/travis-perl-helpers/init --always-upgrade-modules
  - build-perl
  - perl -V
  - build-dist
  - cd $BUILD_DIR
install:
  - cpan-install inc::Module::Install
  - cpan-install experimental
  - cpan-install ExtUtils::MakeMaker~7.14 --deps
  - cpan-install ExtUtils::MakeMaker::BigHelper
  - cpan-install --deps
  - cpan-install --coverage
before_script:
  - coverage-setup
script:
  - perl Makefile.PL
  - make
  - prove -b -r -s -j$(test-jobs) $(test-files)
after_success:
  - coverage-report
notifications:
  irc:
    template:
      - "%{repository_name}#%{build_number} (%{branch} - %{commit} : %{author}): %{message}
      -  Change view : %{compare_url} - Build details : %{build_url}"
    channels:
      - irc.efnet.org#hadouken
    on_success: always
    on_failure: always
    use_notice: true
    skip_join: true

