language: perl
#script: prove -b t
install:
    - cpanm -n -q --skip-satisfied --installdeps .
perl:
    - "5.21.0"
    - "5.20.1"
    - "5.19.8"
    - "5.16.3"
    
before_install:
- cpanm Test::Pod inc::Module::Install # optional dependency
install:
- cpanm -v --installdeps --notest .
script: "perl Makefile.PL; make test"
branches:
 only:
 - master
