sudo: true
language: perl
perl:
    - "blead"
    - "5.20"
    - "5.18"
    - "5.16"
env:
  global:
    - TEST_PARTITIONS=4
    - RELEASE_TESTING=1
matrix:
  include:
    - perl: "5.20"
      env: COVERAGE=1 TEST_PARTITION=1
    - perl: "5.20"
      env: COVERAGE=1 TEST_PARTITION=2
    - perl: "5.20"
      env: COVERAGE=1 TEST_PARTITION=3
    - perl: "5.20"
      env: COVERAGE=1 TEST_PARTITION=4
  allow_failures:
    - perl: blead       # ignore failures for blead perl
before_install:
  - "curl -o zookeeper-3.4.8.tar.gz http://apache.arvixe.com/zookeeper/stable/zookeeper-3.4.8.tar.gz"
  - "tar -zxf zookeeper-3.4.8.tar.gz"
  - "cp zookeeper-3.4.8/conf/zoo_sample.cfg zookeeper-3.4.8/conf/zoo.cfg"
  - "sudo zookeeper-3.4.8/bin/zkServer.sh start"
  - git clone git://github.com/travis-perl/helpers ~/travis-perl-helpers
  - source ~/travis-perl-helpers/init
  - build-perl
  - perl -V
  - build-dist
  - cd $BUILD_DIR
install:
  - cpan-install experimental
  - cpan-install ExtUtils::MakeMaker~6.68 --deps
  - cpan-install --coverage
before_script:
  - coverage-setup
script:
  - perl Makefile.PL
  - make
  - prove -b -r -s -j$(test-jobs) $(test-files)
after_success:
  - coverage-report

